---
http_interactions:
- request:
    method: post
    uri: https://www.strava.com/oauth/token
    body:
      encoding: UTF-8
      string: client_id=<%= ENV["STRAVA_CLIENT_ID"] %>&client_secret=<%= ENV["STRAVA_CLIENT_SECRET"] %>&code=123asd
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Status:
      - 400 Bad Request
    body:
      encoding: UTF-8
      string: '{"message":"Bad Request","errors":[{"resource":"RequestToken","field":"code","code":"invalid"}]}'
  recorded_at: Tue, 30 Aug 2016 20:10:44 GMT
recorded_with: VCR 3.0.3
