---
http_interactions:
- request:
    method: post
    uri: https://www.strava.com/oauth/token
    body:
      encoding: UTF-8
      string: client_id=<%= ENV["STRAVA_CLIENT_ID"] %>&client_secret=<%= ENV["STRAVA_CLIENT_SECRET"] %>&code=4db91af1260b3f47af7f2dbb32fc95db9e13fc30
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"eb061327a7821eecc714eccb2296ae67"
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":ENV["RUSSELL'S_TOKEN"],"token_type":"Bearer","athlete":{"id":17214024,"username":"schhatwal","resource_state":3,"firstname":"samina","lastname":"chhatwal","city":"Falls
        Church","state":"Virginia","country":"United States","sex":"F","premium":false,"created_at":"2016-08-28T19:21:32Z","updated_at":"2016-08-30T15:59:36Z","badge_type_id":0,"profile_medium":"https://dgalywyr863hv.cloudfront.net/pictures/athletes/17214024/4854019/1/medium.jpg","profile":"https://dgalywyr863hv.cloudfront.net/pictures/athletes/17214024/4854019/1/large.jpg","friend":null,"follower":null,"follower_count":0,"friend_count":0,"mutual_friend_count":0,"athlete_type":0,"date_preference":"%m/%d/%Y","measurement_preference":"feet","clubs":[],"email":"csaminak@yahoo.com","ftp":null,"weight":0.0,"bikes":[],"shoes":[]}}'
  recorded_at: Tue, 30 Aug 2016 20:16:38 GMT
recorded_with: VCR 3.0.3
